<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
</head>
<body>
    <h2>Please select the date range of the entries you would like to see!</h2>
    <form th:action="@{/entries/history}" method="get">
        <div>
            <label for="from">From: </label>
            <input type="date" id="from" name="from">
        </div>
        <div>
            <label for="to">To: </label>
            <input type="date" id="to" name="to">
        </div>
        <p th:if="${date}" th:utext="${date}"></p>
        <button type="submit">Filter</button>
        <a th:href="@{/entries/history}">Clear filter</a>
    </form>
    <p th:if="${#lists.isEmpty(entries)}">There are no entries in the specified date range! <br>
    Please try another range!</p>
    <table>
        <thead>
            <tr>
                <th>Entry ID</th>
                <th>Consumption Date</th>
                <th>Consumption Time</th>
                <!-- to decide if want to include food names -->
            </tr>
        </thead>
        <tbody>
            <!-- try to style rows with hover -->
            <span th:each="e : ${entries}">
                <tr>
                    <td th:utext="${e.entryId}"></td>
                    <td th:utext="${#dates.format(e.consumptionDate, 'dd/MM/yyyy')}"></td>
                    <td th:utext="${e.consumptionTime}"></td>
                    <td>
                        <a th:href="@{/entries/history/{entryId} (entryId = ${e.entryId})}">View entry</a>
                    </td>
                </tr>
            </span>
        </tbody>
    </table>
</body>
</html>