<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Food</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
    <h1>Create your own custom food!</h1>
    <form method="post" th:action="@{/foods/new}" th:object="${food}">
        <div>
            <label for="name">Name of Food:</label>
            <input th:field="*{name}" type="text" id="name">
            
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="type">Type:</label>
            <select th:field="*{type}">
                <option value="Generic">Generic</option>
                <option value="Brand">Brand</option>
            </select>
            <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>
        </div>
        <div>
            <label for="brand">Brand of Food (NA if type is "Generic"):</label>
            <input th:field="*{brand}" type="text" id="brand">
            <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></span>
        </div>
        <div>
            Allergens: <br>
            <label for="milk">Milk</label>
            <input id="milk" type="checkbox" value="Milk" th:field="*{allergens}">
            <label for="lactose">Lactose</label>
            <input id="lactose" type="checkbox" value="Lactose" th:field="*{allergens}">
            <label for="egg">Egg</label>
            <input id="egg" type="checkbox" value="Egg" th:field="*{allergens}">
            <label for="fish">Fish</label>
            <input id="fish" type="checkbox" value="Fish" th:field="*{allergens}">
            <label for="gluten">Gluten</label>
            <input id="gluten" type="checkbox" value="Gluten" th:field="*{allergens}">
            <label for="nuts">Nuts</label>
            <input id="nuts" type="checkbox" value="Nuts" th:field="*{allergens}">
            <label for="peanuts">Peanuts</label>
            <input id="peanuts" type="checkbox" value="Peanuts" th:field="*{allergens}">
            <label for="shellfish">Shellfish</label>
            <input id="shellfish" type="checkbox" value="Shellfish" th:field="*{allergens}">
            <label for="soy">Soy</label>
            <input id="soy" type="checkbox" value="Soy" th:field="*{allergens}">
            <label for="sesame">Sesame</label>
            <input id="sesame" type="checkbox" value="Sesame" th:field="*{allergens}">
            <label for="none">None</label>
            <input id="none" type="checkbox" value="NONE" th:field="*{allergens}">
            <span th:if="${#fields.hasErrors('allergens')}" th:errors="*{allergens}"></span>
        </div>
        <div>
            Suitable for: <br>
            <label for="isVegetarian">Vegetarians</label>
            <input id="isVegetarian" type="checkbox" value="true" th:field="*{isVegetarian}">
            <label for="isVegan">Vegans</label>
            <input id="isVegan" type="checkbox" value="true" th:field="*{isVegan}">
        </div>
        <div>
            <label for="servingDescription">Serving Size:</label>
            <input th:field="*{servingDescription}" type="text" id="servingDescription">
            <span th:if="${#fields.hasErrors('servingDescription')}" th:errors="*{servingDescription}"></span>
        </div>
        <div>
            <label for="calories">Calories (kcal):</label>
            <input th:field="*{calories}" type="number" step="0.1" id="calories">
            <span th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"></span>
        </div>
        <div>
            <label for="carbohydrate">Carbohydrate (g):</label>
            <input th:field="*{carbohydrate}" type="number" step="0.1" id="carbohydrate">
            <span th:if="${#fields.hasErrors('carbohydrate')}" th:errors="*{carbohydrate}"></span>
        </div>
        <div>
            <label for="protein">Protein (g):</label>
            <input th:field="*{protein}" type="number" step="0.1" id="protein">
            <span th:if="${#fields.hasErrors('protein')}" th:errors="*{protein}"></span>
        </div>
        <div>
            <label for="fat">Fat (g):</label>
            <input th:field="*{fat}" type="number" step="0.1" id="fat">
            <span th:if="${#fields.hasErrors('fat')}" th:errors="*{fat}"></span>
        </div>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>