<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body class="bg-food-background bg-center bg-cover">
    <section>
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="flex items-center mb-6 text-4xl font-thin font-serif text-yellow-600">
                <img class="w-9 h-10 mr-2" src="/SVG/logo.svg" alt="logo">
                CPB    
            </div>
            <div class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 bg-lime-800 bg-opacity-50">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold font-serif leading-tight tracking-tight text-[#8b4513] md:text-2xl">
                        Sign in to your account
                    </h1>
                    <form class="space-y-4 md:space-y-6" th:action="@{/login}" method="post">
                        <div>
                            <label for="email" class="block mb-2 font-semibold font-serif text-[#8b4513]">Your email</label>
                            <input type="email" name="username" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 placeholder:font-serif" placeholder="name@company.com" required>
                        </div>
                        <div>
                            <label for="password" class="block mb-2 font-semibold font-serif text-[#8b4513]">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                        </div>
                        <div th:if="${param.error}" class="font-serif">
                            Invalid username or password!
                        </div>
                        <div th:if="${param.logout}" class="font-serif">
                            You have successfully logged out!
                        </div>
                        <button type="submit" class="w-full text-white font-serif bg-yellow-600 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign in</button>
                        <p class="text-sm font-light font-serif text-gray-600">
                            Don’t have an account yet? <a th:href="@{/profiles/new}" class="font-medium hover:underline">Sign up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
      </section>
  <!--below is my own  -->
    <!-- <form th:action="@{/login}" method="post">
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
        </div>
        <div th:if="${param.error}">
            Invalid username or password!
        </div>
        <div th:if="${param.logout}">
            You have successfully logged out!
        </div>
        <button type="submit">Login</button>
    </form>
    <a th:href="@{/profiles/new}">Don't have an account? Create one here!</a> -->
</body>
</html>