<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email">
            <span th:if="${noProfile}" th:utext="${noProfile}"></span>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password">
            <span th:if="${wrongPw}" th:utext="${wrongPw}"></span>
        </div>
        <button type="submit">Login</button>
    </form>
    <a th:href="@{/profiles/new}">Don't have an account? Create one here!</a>
</body>
</html>