<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Profile</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
    <h1>Create a new profile!</h1>
    <form method="post" th:action="@{/profiles/new}" th:object="${profile}">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="text" id="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <button type="submit">Create!</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>