<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form th:action="@{/search}" method="post">
        <label for="searchTerm">Search for a food and/or brand:</label>
        <input type="text" id="searchTerm" name="searchTerm">
        <button type="submit">Search</button>
        <span th:if="${blankError}">
            <p th:utext="${blankError}"></p>
        </span>
    </form>
    <br>
    <br>
    <span th:if="${foods}">
        <table>
            <thead>
                <tr>
                    <th rowspan="2">Name</th>
                    <th rowspan="2">Brand</th>
                    <th rowspan="2">Allergens</th>
                    <th colspan="2">Suitable for</th>
                    <th rowspan="2">For more information</th>
                    <th rowspan="2">Action</th>
                </tr>
                <tr>
                    <th>Vegetarians</th>
                    <th>Vegans</th>
                </tr>
            </thead>
            <tbody>
                <span th:each="food : ${foods}">
                    <tr>
                        <td th:utext="${food.name}"></td>
                        <td th:utext="${food.brand}"></td>
                        <td th:utext="${food.allergens}"></td>
                        <td th:if="${#lists.contains(food.preferences, 'Vegetarian')}" th:utext="Y"></td>
                        <td th:unless="${#lists.contains(food.preferences, 'Vegetarian')}" th:utext="UNKNOWN"></td>
                        <td th:if="${#lists.contains(food.preferences, 'Vegan')}" th:utext="Y"></td>
                        <td th:unless="${#lists.contains(food.preferences, 'Vegan')}" th:utext="UNKNOWN"></td>
                        <td>
                            <a th:href="@{${food.url}}" th:utext="${food.url}"></a>
                        </td>
                        <td>
                            <form method="post" th:action="@{/entries/new/{entryId} (entryId=${entryId})}">
                                <!-- <input th:value="${food}" name="foodToAdd" hidden> -->
                                <button type="submit" th:value="${food}" name="foodToAdd">Add to Entry</button>
                            </form>

                            <!-- <a th:href="@{/newEntry/add/{id} (id=${food.id})}">Add to Entry</a> -->
                        </td>
                    </tr>
                </span>
            </tbody>
        </table>
        <span th:unless="${pageNumber} == '0'">
            <a th:href="@{/search/{searchTerm}/{pageNumber} (searchTerm=${searchTerm}, pageNumber=${pageNumber} - 1)}">Previous</a>
        </span>
        <a th:href="@{/search/{searchTerm}/{pageNumber} (searchTerm=${searchTerm}, pageNumber=${pageNumber} + 1)}">Next</a>
    </span>
</body>
</html>