<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <!-- <p th:utext="${pageNumber}"></p> -->
    <form th:action="@{/search}" method="post">
        <label for="searchTerm">Search for a food and/or brand:</label>
        <input type="text" id="searchTerm" name="searchTerm">
        <p th:utext="${entryId}"></p>
        <span th:if="${entryId}">
            <input type="text" th:value="${entryId}" name="entryId" hidden>
        </span>
        <button type="submit">Search</button>
        <span th:if="${blankError}">
            <p th:utext="${blankError}"></p>
        </span>
    </form>
    <br>
    <br>
    <span th:if="${foods}">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Basic Nutrional Informaion</th>
                    <th>For more information</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <span th:each="food : ${foods}">
                    <tr>
                        <td th:utext="${food.name}"></td>
                        <td th:utext="${food.brand}"></td>
                        <td th:utext="${food.description}"></td>
                        <td>
                            <a th:href="@{${food.url}}" th:utext="${food.url}"></a>
                        </td>
                        <td>
                            <form method="post" th:action="@{/entries/new/{entryId} (entryId=${entryId})}">
                                <button type="submit" th:value="${food.id}" name="foodToAdd">Add to Entry</button>
                            </form>

                            <!-- <a th:href="@{/newEntry/add/{id} (id=${food.id})}">Add to Entry</a> -->
                        </td>
                    </tr>
                </span>
            </tbody>
        </table>
        <span th:unless="${pageNumber} == '0'">
            <a th:href="@{/search/{searchTerm}/{pageNumber}/{entryId} (searchTerm=${searchTerm}, pageNumber=${pageNumber} - 1, entryId = ${entryId})}">Previous</a>
        </span>
        <a th:href="@{/search/{searchTerm}/{pageNumber}/{entryId} (searchTerm=${searchTerm}, pageNumber=${pageNumber} + 1, entryId = ${entryId})}">Next</a>
    </span>
</body>
</html>